@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App {
  text-align: center;
}

.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.jumbotron {
  margin-top: 1rem !important; 
  margin-bottom: 1rem !important; 
}

.search-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.search-form label {
  text-align: left;
  display: block;
}

.search-form h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.search-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px !important;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background: #ea3af0;
  transition: background .3s;
}

table {
  width: 100%;
}

table tbody th {
  color: #f1356d;
  font-size: 130%;
}

.bearish, .bullish {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: .5rem;
}

.bearish {
  color: red;
}

.bullish {
  color: green;
}
